<mat-card>
  <mat-card-header>
    <mat-card-title>SHISHA.HELP</mat-card-title>
    <mat-card-subtitle>
      - "No estabamos muertos, estabamos de parranda".</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p>
      Shishahelp, fué pionera en hacer un
      <a href="https://t.me/shishahelp">
        grupo vía mensajería instantánea</a
      >
      rápida a través de Telegram. Poco a poco parte de la comunidad se
      fué moviendo a esta plataforma, formandose otros grupos y así nuevas
      subcomunidades.
    </p>
    <p>
      Para este 2021, nos hemos propuesto crear una web dónde pueda quedar
      guardada y rápidamente buscada; la información sobre el mundo de la
      cachimba, esto, no viene a sustituir grupos, foros, instagrams ni
      nada por el estilo, al revés. Viene a unificar todo el conocimiento
      de la comunidad a un mismo sitio, dando crédito y visión a toda la
      comunidad.
    </p>

    <img src="assets/images/shishahelp_logo.png" alt="Shishahelp Logo" />
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-stroked-button
      href="mailto:contact@jmbargueno.com?subject=Shishahelp%20modo%20mantenimiento"
      target="_blank"
      >Contáctame</a
    >
  </mat-card-actions>
</mat-card>
