<div fxLayout="row wrap" fxLayout.sm="column">
  <div
    fxFlex.xl="33.333%"
    fxFlex.lg="33.333%"
    fxFlex.md="33.333%"
    fxFlex.lt-sm="100%"
  >
    <div class="fcontainer">
      <div class="ftitle">Información</div>
      <div class="fcontent">Contenedor de informacion</div>
    </div>
  </div>
  <div
    fxFlex.xl="33.333%"
    fxFlex.lg="33.333%"
    fxFlex.md="33.333%"
    fxFlex.lt-sm="100%"
  >
    <div class="fcontainer"><div class="ftitle">Contacto</div>
    <div class="fcontent">Contenedor de contacto</div></div>
  </div>
  <div
    fxFlex.xl="33.333%"
    fxFlex.lg="33.333%"
    fxFlex.md="33.333%"
    fxFlex.lt-sm="100%"
  >
    <div class="fcontainer"><div class="ftitle">Patrocinadores</div>
    <div class="fcontent">Contenedor de publicidad</div></div>
  </div>

</div>
<div fxLayout="row wrap" fxLayout.sm="column">
  <div
    fxFlex="100%"
  >
    <div class="fcontainer">
      <div class="fftitle">Todos los derechos reservados Shishahelp© 2020 </div>
    </div>
  </div>
</div>
