.fcontainer {
  text-align: center;
  background-color: #C8C8C8;
}
.ftitle {
  text-align: center;
  background-color: #787878;
  color: whitesmoke;
}
.fftitle {
  text-align: center;
  background-color: #404040;
  color: whitesmoke;
}
